#projects-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;

}


.assign-container {
    padding-bottom: 50px;
}

body {
    padding-bottom: 50px;

}

.app-header {
    color: #917A3A;
}

.card-title {
    color: #917A3A;
    font-size: 24px;
}

.bucket-list {
    color: #917A3A;
    font-size: 25px;
    font-weight: 200;
}

.body-paragraphs {
    color: #917A3A;
    margin-left: 15%;
    padding-right: 15%;
    text-align: left;
    font-weight: 200;
}

.card {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1;
    /* Add spacing around the content */
    padding: 40px;/
    /* Adjust the gap between cards */
    overflow-x: hidden;
    align-items: center;
    justify-content: center;

}

p {
    color: #917A3A;
}

.download-link {
    text-align: center;
    padding-left: 760px;
    font-size: 18px;
}

.resume-text p {
    color: black;
    width: 80%;
}

.row {
    display: flex;
    justify-content: center;
    /* Center the cards horizontally */
}



.card img {
    width: 100%;
    /* Set a fixed width */
    height: auto;
    /* Maintain aspect ratio */
}

.card-content-resume {
    text-wrap: 20px;
    max-width: 110%;
}

.assign-content-resume {
    max-width: 80%;
}